
  <h2>Most Recent Projects</h2>

<table class="table table-striped">
    <tr>
      <th>Title</th>  
      <th>Budget</th>  
      <th>Genre</th>
    </tr>
    <% Project.all.each do |project| %>
    <tr>
      <td><em>Private</em></td>
      <td>$<%= project.budget_size %></td>
      <td><%= project.genres.map { |g| g.data }.join(', ') %></td>
    </tr>
    <% end %>
</table>
