<div class="hero-unit">
  <h2>Enter Your Sales Data Here</h2>
  <form class="form-horizontal" method="post" action="/sales">
    <div class="control-group">
      <label class="control-label" for="inputTerritory">Territory</label>
      <div class="controls">
        <input type="text" id="inputTerritory" placeholder="Territory">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputBid">Bid</label>
      <div class="controls">
        <input type="text" id="bid" placeholder="Bid">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputAsk">Ask</label>
      <div class="controls">
        <input type="text" id="inputAsk" placeholder="Ask">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputSale">Close</label>
      <div class="controls">
        <input type="text" id="inputClose" placeholder="close">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputSaleDate">Sale Date</label>
      <div class="controls">
        <input type="date" id="inputSaleDate" placeholder="Sale Date">
      </div>
    </div>

    <button type="submit" class="btn">Submit</button>
  </form>
  
</div>
