<div class="hero-unit">
  <h2>Enter Your Sales Data Here</h2>
  <table class="table table-striped">
    <form method="post" action="/sales">    
      <tr>
        <th>Territory</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>Sale</th>
        <th>Sale Date</th>
      </tr>
      <tr>
        <td><input type="text" id="inputTerritory" placeholder="Territory" name="territory"></td>
        <td>
          <div class="input-prepend input-append">
            <span class="add-on">$</span>
            <input class="span2" id="appendedPrependedInput" type="text" name="bid">
            <span class="add-on">.00</span>
          </div>
        </td>
        <td>
          <div class="input-prepend input-append">
            <span class="add-on">$</span>
            <input class="span2" id="appendedPrependedInput" type="text" name="ask">
            <span class="add-on">.00</span>
          </div>
        </td>
        <td>
          <div class="input-prepend input-append">
            <span class="add-on">$</span>
            <input class="span2" id="appendedPrependedInput" type="text" name="close">
            <span class="add-on">.00</span>
          </div>
          </td>
        <td><input type="date" id="inputCloseDate" placeholder="Sale Date" name="close_date"></td>
      </tr>
      <tr>
        <td><button id="add_territory" type="submit" class="btn">Add Territory</button></td>
      </tr>
      <tr>
        <td><button id="submit" type="submit" class="btn">Submit</button></td>
      </tr>
    </form>
  </table>
</div>
