<div class="hero-unit">
  <div class="row-fluid">
    <div class="span6">
      <%= erb :_projects, :layout => false %>  
    </div>
    <div class="span6">
      <%= erb :_sales, :layout => false %>  
    </div>
  </div>
</div>